@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--card-x{
    position: relative;
    border-radius: $border-radius-b;
    overflow: hidden;

    &__media-wrapper{
        &__media{
            width: 100%;
            height: auto;
            @extend .u--display-block;
            object-fit: cover;
            aspect-ratio: 16 / 9;
        }
    }

    &__icon{
        position: absolute;
        bottom:0;
        left:0;
        width: $measure * 6;
        height: $measure * 6;
        background: map.get($colorbg-options, a);
        border-radius: $border-radius-a;
        display: flex;
        align-items: center;
        justify-content: center;
        color: map.get($color-options, b);

        &__media{
            width: $measure * 3;
            height: $measure * 3;
        }
    }

    &__pill{
        position: absolute;
        bottom: $measure * 2;
        right: $measure * 2;
        background: map.get($colorbg-options, d);
        border-radius: $border-radius-c;
        padding: $measure $measure * 3;

        &__title{
            @extend .f--font-f;
            color: map.get($color-options, b);
        }
    }
}
