@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--card-a{
    $component: &;
    color:map.get($color-options, b );
    position:relative;
    display: block;

    &__media-wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
  

        &__media{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius-a;
            transition: transform ease-in-out $time-b;
        }
    }

    &__wrapper{

        &__title{
            @extend .f--font-d;
            color: map.get($color-options, a);
            margin-bottom: $measure;
        }

        &__subtitle{
            @extend .f--font-e;
            color: map.get($color-options, a);
        }

        &__btn{
            margin-top: $measure * 2;
        }
    }

    &:hover{
        #{$component}__media-wrapper__media{
            transform: scale(1.02);
        }
        #{$component}__wrapper__btn{
            background: map.get($colorbg-options, a);
            color: map.get($color-options, b);
        }
    }
}