@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;


.c--footer-a{
  padding:$measure*8 0;
  color:map.get($color-options, a);
  hr{
      border: .5px solid rgba(map.get($color-options, c),.3);
      margin: $measure*2 0;
  }
  a{
      @extend .f--color-a;
      text-decoration: none;
      &:hover{
          text-decoration: underline;
      }
  }
}