@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;

.c--footer-a {
    background: map.get($color-options, a);
    padding: $measure * 3 0;
    color: map.get($color-options, b);
    a {
        color: map.get($color-options, b);
    }
}