@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;

.c--map-a {
    height: 500px;
    border-radius: $border-radius-a;
    overflow: hidden;

    &__media {
        width: 100%;
        height: 100%;
    }
}
