@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;

.c--header-a {
    position: fixed;
    left: 0;
    top: $measure * 2;
    width: 100%;
    z-index: 35;

    &__wrapper {
        position: relative;
        background: map.get($color-options, b);
        display: block;
        border-radius: $border-radius-a;
        padding: $measure $measure * 3;
        border: 1px solid rgba(map.get($color-options, b), .2);
        transition: all $time-b $ease-standard-a;

        @media all and ($viewport-type: $tabletm) {
            display: flex;
            align-items: center;
        }

        &--second {
            border: 1px solid rgba(map.get($color-options, a), .2);
        }
    }

    &__item-right {
        display: none;
        align-items: center;
        gap: $measure * 1.5;

        @media all and ($viewport-type: $tabletm) {
            display: flex;
            margin-left: auto;
        }
    }
}
