@use "sass:map";
@use "@scss/framework/_var/_vars.scss" as *;
@use "@scss/framework/utilities/utilities.scss" as *;
@use "@scss/framework/foundation/foundation.scss" as *;

.c--cta-a{
    position: relative;
    overflow: hidden;

    &__media-wrapper{
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__wrapper{
        position: relative;
        z-index: 1;
        padding: $measure * 8 $measure * 4;

        @media screen and (#{$viewport-type}: #{$tabletm}){
            padding: $measure * 12 $measure * 4;
        }

        &__title{
            @extend .f--font-a;
            color: map.get($color-options, b);
            margin-bottom: $measure * 4;

        }

    }

    &:hover{
        .c--btn-a{
            background: map.get($colorbg-options, c);
            color: map.get($color-options, b);
        }

        .c--btn-a__title{
            color: map.get($color-options, b);
        }

        .c--btn-a__icon{
            background: map.get($colorbg-options, b);
            color: map.get($color-options, c);
        }
    }
}
